@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Murder.UI

@attribute [StyleSheet("UI/Game/Scoreboard/ScoreboardEntry.scss")]

<root class="text-shadow">
	<img src="avatar:@Client.SteamId" class="avatar circle" />
	<text class="name">@Client.Name</text>
	@if (GameState.Current is PostRound)
	{
		var player = (Murder.Player)Client.Pawn;

		<label class="stat" style="color: @player.Color.Hex">@player.BystanderName</label>
		<label class="stat">@player.CluesCollected</label>
	}
	<text class="stat">@(Client.IsBot ? "BOT" : Client.Ping.ToString())</text>
</root>

@code
{
	public IClient Client { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(Client.Ping, GameState.Current is PostRound);
	}
}