@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Threading.Tasks;

@namespace Murder.UI

@if (_data is null)
{
	return;
}

<root>
	<div class="container rounded @(!string.IsNullOrEmpty(_data.Thumb) ? "thumb" : "")" @onclick=@VoteMap>
		<div class="info">
			@if (!string.IsNullOrEmpty(_data.Org.Thumb))
			{
				<div class="orgavatar text-shadow rounded" style="background-image: url(@_data.Org.Thumb)" />
			}
			<div style="flex-direction: column;">
				<text class="title text-shadow">@_data.Title</text>
				<text class="orgname text-shadow">@_data.Org.Title</text>
			</div>
		</div>
		<text class="votes rounded text-shadow">
			<text>@Votes</text>
		</text>
	</div>
</root>

@code
{
	public string Ident { get; set; }
	public int Votes { get; set; }

	private Package _data;

	protected void VoteMap() => MapSelectionState.SetVote(Ident);

	protected override async Task OnParametersSetAsync()
	{
		_data = await Package.Fetch(Ident, true);

		if (_data?.PackageType != Package.Type.Map)
		{
			Delete();
			return;
		}

		StateHasChanged();
	}

	protected override int BuildHash() => HashCode.Combine(Votes);
}

<style>
	MapIcon
	{
		aspect-ratio: 1;
		height: 100%;
		width: 25%;
		padding: 5px;
		cursor: pointer;

		&:hover
		{
			transform: scale(1.02);
			opacity: 1;
		}

		&:active
		{
			transform: scale(1.0);
		}

		.thumb
		{
			background-image: url(@_data.Thumb);
		}

		.container
		{
			width: 100%;
			height: 100%;
			background-color: #303030;
			background-position: center;
			background-size: contain;
			font-size: 20px;

			.votes
			{
				position: absolute;
				bottom: 10px;
				right: 10px;
				background-color: rgba(black, 0.9);
				padding: 10px 15px;
				font-weight: bold;
				font-size: 22px;
				height: 50px;
				min-width: 75px;
				align-items: center;
				justify-content: center;
			}

			.info
			{
				padding: 5px;

				.orgavatar
				{
					width: 40px;
					height: 40px;
					background-color: black;
					background-position: center;
					background-size: cover;
				}

				.title
				{
					font-weight: bold;
				}

				.orgname
				{
					opacity: 0.6;
				}
			}
		}
	}
</style>