@using Sandbox;
@using Sandbox.UI;
@using System.Linq;

@namespace Murder.UI

@attribute [StyleSheet("UI/Game/PostRoundPopup/PostRoundPopup.scss")]

<root class="text-shadow">
	<div class="container">
		<text class="header" style="color: @WinningRole.GetColor().Hex">
			@(WinningRole == Role.Murderer ? "#Murderer.Win" : "#Bystander.Win")
		</text>
		<div class="content">
			@{
				var murderer = Utils.GetPlayersWhere(p => p.Role == Role.Murderer).First();
				var killer = murderer.Killer;

				if (WinningRole == Role.Bystander)
				{
					if (killer.IsValid())
					{
						<label style="color: @killer.Color.Hex">@killer.BystanderName</label>
						<label>@(" killed the murderer.")</label>
					}
				}
				else
				{
					<label>The murderer was </label>
					<label style="color: @murderer.Color.Hex">@murderer.BystanderName</label>
					<label>.</label>
				}
			}
		</div>
	</div>
</root>

@code
{
	private static PostRoundPopup Instance { get; set; }
	private Role WinningRole { get; init; }

	public PostRoundPopup(Role winningRole)
	{
		WinningRole = winningRole;
		Instance = this;

		PlaySound("round_end");
	}

	[GameEvent.Round.End]
	private static void DisplayWinner(Role winningRole)
	{
		if (!Game.IsClient)
			return;

		Game.RootPanel.AddChild(new PostRoundPopup(winningRole));
	}

	[Event.Entity.PostCleanup]
	private void Close()
	{
		Delete();
		Instance = null;
	}
}